<ion-view title="Entity EntityNode Resource"> 

<ion-content>

<h1>EntityEntityNodeResource</h1>

<h2>Retrieve</h2>
<ion-list>
  <div ng-repeat="(key,request) in nodeRetrieveRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Retrieve Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>

<label class="item item-input">
<input type="text" ng-model="nodeRetrieve.nid" placeholder="nid" >
</label>
<button class="button button-small" ng-click="callEntityNodeRecourceRetrieve(nodeRetrieve.nid)">call EntityNodeRecource.retrieve</button>
<hr />

<h2>Create</h2>
<ion-list>
  <div ng-repeat="(key,request) in nodeCreateRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Create Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>
<label class="item item-input">
<input type="text" ng-model="nodeCreate.type" disabled >
</label>
<label class="item item-input">
<input type="text" ng-model="nodeCreate.title" placeholder="EntityNode title" >
</label>
<!-- 
<ion-checkbox ng-model="nodeCreate.field_boolean_field.und[value]" ng-true-value="1" ng-false-value="0" >fields.nid</ion-checkbox>
<label class="item item-input">
<input type="text" ng-model="nodeCreate.field_text_field.und[value]" 	placeholder="custom text here" >
</label>
 -->

<button class="button button-small" ng-click="callEntityNodeRecourceCreate(nodeCreate)">call EntityNodeRecource.create</button>
<hr />
<h2>Update <span class="assertive">!</span></h2>
<ion-list>
  <div ng-repeat="(key,request) in nodeUpdateRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Update Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>
<label class="item item-input">
<input type="text" ng-init="nodeUpdate.nid='21'" ng-model="nodeUpdate.nid" placeholder="Nid" >
</label>
<label class="item item-input">
<input type="text" ng-init="nodeUpdate.title='updated titel'" ng-model="nodeUpdate.title" placeholder="EntityNode title" >
</label>

<button class="button button-small" ng-click="callEntityNodeRecourceUpdate(nodeUpdate)">call EntityNodeRecource.update</button>

<hr />

<h2>Delete</h2>
<ion-list>
  <div ng-repeat="(key,request) in nodeDeleteRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Delete Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>

<label class="item item-input">
<input type="text" ng-init="nodeDelete.nid='3'" ng-model="nodeDelete.nid" placeholder="nid" >
</label>
<button class="button button-small" ng-click="callEntityNodeRecourceDelete(nodeDelete.nid)">call EntityNodeRecource.delete</button>

<hr />


<h2>Index</h2>
<ion-list>
  <div ng-repeat="(key,request) in nodeIndexRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Index Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>

<label class="item item-input">
<input type="text" ng-init="nodeIndex.page=0" ng-model="nodeIndex.page" placeholder="page" >
</label>
<label class="item item-input">
<input type="text" ng-init="nodeIndex.pagesize=5" ng-model="nodeIndex.pagesize" placeholder="pagesize" >
</label>

<p><b>Fields:</b><br>
Fields of node that are returned
</p>
<ion-checkbox ng-model="nodeIndex.fields.nid">fields.nid</ion-checkbox>
<ion-checkbox ng-model="nodeIndex.fields.created">fields.created</ion-checkbox>
<ion-checkbox ng-model="nodeIndex.fields.type">fields.type</ion-checkbox>
<ion-checkbox ng-model="nodeIndex.fields.title">fields.title</ion-checkbox>
<p><b>Parameters:</b><br>
Parameters of node that are returned
</p>
<label class="item item-input">
	<input type="text" ng-model="nodeIndex.parameters.nid" placeholder="nid" >
</label>
<label class="item item-input">
	<input type="text" ng-model="nodeIndex.parameters.created" placeholder="created" >
</label>
<label class="item item-input">
	<input type="text" ng-model="nodeIndex.parameters.type" placeholder="type" >
</label>
<label class="item item-input">
	<input type="text" ng-model="nodeIndex.parameters.title" placeholder="title" >
</label>   
<button class="button button-small" ng-click="callEntityNodeRecourceIndex(nodeIndex)">call EntityNodeRecource.index</button>
<hr />

<h2>Files</h2>
<ion-list>
  <div ng-repeat="(key,request) in nodeFilesRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Files Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>

<label class="item item-input">
<input type="text" ng-model="nodeFiles.nid" placeholder="nid" >
</label>
<label class="item item-input">
<input type="text" ng-model="nodeFiles.file_contents" placeholder="file_contents" >
</label>
<label class="item item-input">
<input type="text" ng-model="nodeFiles.image_styles" placeholder="image_styles" >
</label>
<button class="button button-small" ng-click="callEntityNodeResourceFiles(nodeFiles)">call EntityNodeRecource.files</button>

<hr />

<h2>Comments</h2>
<ion-list>
  <div ng-repeat="(key,request) in nodeCommentsRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Comments Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>

<label class="item item-input">
<input type="text" ng-model="nodeComments.nid" placeholder="nid" >
</label>
<label class="item item-input">
<input type="text" ng-model="nodeComments.count" placeholder="count" >
</label>
<label class="item item-input">
<input type="text" ng-model="nodeComments.offset" placeholder="offset" >
</label>
<button class="button button-small" ng-click="callEntityNodeResourceComments(nodeComments)">call EntityNodeRecource.comments</button>

<hr />

<h2>AttachFile <span class="assertive">!</span></h2>
<ion-list>
  <div ng-repeat="(key,request) in nodeAttachFileRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      AttachFile Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>

<label class="item item-input">
<input type="text" ng-model="nodeAttachFile.nid" placeholder="nid" >
</label>
<label class="item item-input">
<input type="text" ng-model="nodeAttachFile.field_name" placeholder="field_name" >
</label>
<label class="item item-input">
<input type="text" ng-model="nodeAttachFile.attach" placeholder="attach" >
</label>
<label class="item item-input">
<input type="text" ng-model="nodeAttachFile.field_values.title" placeholder="field_values.title" >
</label>
<label class="item item-input">
<input type="text" ng-model="nodeAttachFile.field_values.alt" placeholder="field_values.alt" >
</label>
<img width="16" height="16" ng-src="{{'data:image/gif;base64,'+nodeAttachFile.attach}}">
<div ng-show="!isWebview">

</div>

<div ng-show="isWebview">
Test for upload from phone:<br/>

<button class="button button-block button-positive icon-left ion-ios7-camera" ng-click="takePicture()">Camera</button>
</div>

<button class="button button-small" ng-click="callEntityNodeResourceAttachFile(nodeAttachFile)">call EntityNodeRecource.attach_file</button>

<hr />


</ion-content> </ion-view>