<ion-view title="Menu Resource"> 

<ion-content>

<h1>MenuResource</h1>

<h2>Retrieve</h2>
<ion-list>
  <div ng-repeat="(key,request) in menuRetrieveRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Retrieve Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion item-icon-right"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>

	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>

<label class="item item-input">
<input type="text" ng-model="menuRetrieve.menu_name" placeholder="menu_name" >
</label>
<button class="button button-small" ng-click="callMenuRecourceRetrieve(menuRetrieve.menu_name)">call MenuRecource.retrieve</button>
<hr />

</ion-content> </ion-view>